/*
* @Author: Chen
* @Date:   2020-08-01 17:24:21
* @Last Modified by:   Chen
* @Last Modified time: 2020-08-03 09:11:32
*/
.AdminHeader .logo{
	float: left;
	color: #1DA57A;
	font-size: 20px;
	font-weight: 600;
}
.AdminHeader .dropdown{
	float: right;
}