<!-- 评论输入框 -->
<div class="row" id="comment">
    <div class="col-lg-12">
        {% if userInfo._id %}
        <div class="input-group">
            <input id="text-comment" type="text" class="form-control" placeholder="输入评论信息">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" data-id="{{ articleData._id.toString() }}" id="btn-sub-comment">提交</button>
            </span>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">请登录后再评论!!</div>
        {% endif %}
        <p class="text-danger err"></p>
    </div>
</div>

  <!-- 评论展示面板 -->
<div class="row">
    <div class="col-lg-12">
        <div id="comment-wrap">
        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{comment.user.name}} 发布于 {{comment.createdTime}}</h3>
                </div>
                <div class="panel-body">
                    {{comment.content}}
                </div>
            </div>
        {% endfor %}
        </div>
        <!-- 分页器 -->
        <nav aria-label="Page navigation" id="comment-page" data-id="{{ articleData._id.toString() }}">
            {% if pages > 1 %}
                {% include './pagination.html' %}
            {% endif %}
        </nav> 
    </div>
</div>