/*
* @Author: Chen
* @Date:   2020-08-10 11:27:41
* @Last Modified by:   Chen
* @Last Modified time: 2020-08-11 17:03:05
*/
.side{
    width: 150px;
    min-height: 600px;
    float: left;
    background-color: #fff;
    margin-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
.side-item{
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 20px;
}
.side-item.active .link{
    color: #f21;
}
.side-item.active{
    border-right: 2px solid #f21;
}

.side-content{
    float: left;
    width: 910px;
    min-height: 600px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
}